<style>
    .custom-alert {
        max-width: 800px;
        margin: 1em auto;
        padding: 15px;
        border-radius: 5px;
        text-align: center;
    }
    .alert-success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }
    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }
    .alert-warning {
        background-color: #fff3cd;
        color: #856404;
        border: 1px solid #ffeeba;
    }
    .alert-info {
        background-color: #d1ecf1;
        color: #0c5460;
        border: 1px solid #bee5eb;
    }
</style>

{# parcourt des messages se trouvant dans app.flashes #}
{% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }} custom-alert">
        {{ messages | join('. ') }}
    </div>
{% endfor %}

